html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#topbar {
    background: #fff;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px;
}

.esri-view-surface {
    outline-width: 3px;
    outline-offset: -3px;
}

.esri-view-surface:focus .esri-display-object {
    z-index: -1;
}

.action-button {
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #D3D3D3;
    color: #6e6e6e;
    height: 32px;
    width: 32px;
    text-align: center;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.action-button:hover,
.action-button:focus {
    background: #0079c1;
    color: #e4e4e4;
}

.active {
    background: #0079c1;
    color: #e4e4e4;
}