    html,
    body,
    #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }

    #colorMixMode {
        background-color: white;
        padding: 20px;
        font-size: 0.8em;
    }

    #colorMixMode label {
        padding-right: 10px;
        cursor: pointer;
    }